<%- include('includes/head.ejs') %>
</head>

<body>
<%- include('includes/body.ejs') %>
    
    <h1> Insert user name </h1>

    <form action="/users" method="post">
        <input type="text" name="username">
        <button type="submit">Add user</button>
    </form>

</body>
</html>