<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Main page</a></li>
                <li class="main-header__item"><a href="/users">User list</a></li>
            </ul>
        </nav>
    </header>

    
    <h1> Users list: </h1>


       <% for (let i = 0; i < namePassed.length; i++) { %>
            <li><%= namePassed[i].username %></li>
         <% } %>


</body>
</html>