<%- include('includes/head.ejs') %>
</head>

<body>
<%- include('includes/body.ejs') %>
    </header>

    
    <h1> Users list: </h1>


       <% for (let i = 0; i < namePassed.length; i++) { %>
            <li><%= namePassed[i].username %></li>
         <% } %>


</body>
</html>